<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--bootstrap.min.js 는 jquery에 의존하기 때문에 jquery를 먼저 호출한다.-->
<!--css는 헤더에, js는 footer에 두는게 페이지 로딩에 효율적이다.-->

<!--index.js 추가-->
<!--<script src="/js/app/index.js"></script>-->
</body>
</html>